<!--navbar-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Cinephilia 🎥</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="/" class="nav-item nav-link active">Movies</a>
            <a href="/shows" class="nav-item nav-link active">Shows</a>
        </div>
        <a href="/search">
            <button type="submit" class="btn btn-outline-light">Search Movies</button>
        </a>
    </div>
</nav>