<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); -%>
        <title>Cinephilia- Search Results</title>
</head>

<body>
    <%- include('partials/navbar'); -%>
        <h1 class="display-4 text-center">SEARCH FOR YOUR FAVOURITE MOVIES</h1>
        <!-- search-bar -->
        <form class="search-form">
            <input type="search" name="search" placeholder="Search for Movies">
            <button type="submit" name="button" value="Submit">Search</button>
        </form>
        <!-- search results -->
        <div class="card-container">

        </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
<script src="index.js"></script>

</html>